@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

* {

    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0 ; 
}

body, html {

    color: #ffffff;
    background-color: black;
    
}